@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center shadow-lg p-5" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h1 class="card-title mb-4">به وبسایت معاینه فنی خوش آمدید</h1>
            <p class="card-text mb-4">اینجا می‌توانید به راحتی نوبت معاینه فنی خود را ثبت و مدیریت کنید.</p>
            <a asp-page="/Inspection/AddInspection" class="btn btn-primary">ایجاد و دریافت نوبت</a>
        </div>
    </div>
</div>
