@page
@model VehicleInspection.Presentation.RazorPages.Pages.Inspection.SuccessModel

<div class="container mt-5" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="alert alert-success alert-dismissible fade show shadow-sm" role="alert">
                <h4 class="alert-heading">عملیات با موفقیت انجام شد 🎉</h4>
                <p class="mb-0">@Model.Message</p>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="mt-4 text-center">
                <a asp-page="/Index" class="btn btn-primary px-4">بازگشت به صفحه صفحه اصلی</a>
            </div>

        </div>
    </div>
</div>